In [4]:
from prep import MeterDataSet
import pandas as pd
import numpy as np
from webapp.utils.azure_utils import KeyVault, DataLake

In [6]:
# Connect to Storage Account
vault = KeyVault(keyVaultName = "keyvaultdva2022")
storage_credential = vault.get_secret(secretName = "storagePrimaryKey")
storage = DataLake(account_name = "storageaccountdva", credential = storage_credential)
file_system = "energyhub"

# Read data:
metadata = storage.dask_read(file_system, directory = "data_parq/metadata", file_name = "metadata.parq")
weather = storage.dask_read(file_system, directory = "data_parq/weather", file_name = "weather.parq")
electricity = storage.dask_read(file_system, directory = "data_parq/meters", file_name = "electricity.parq")

In [19]:
metadata = metadata[metadata.site_id == "Panther"]['sq_meter']
weather = weather[weather.site_id == "Panther"]['air_temperature', 'cloud_coverage', 'dew_temperature', 'precipitation_depth_1_hr',
    'precipitation_depth_6_hr', 'sea_level_pressure', 'wind_direction',
    'wind_speed']

AttributeError: 'Series' object has no attribute 'site_id'

In [2]:
site_id = "Panther"
meter = "electricity"
metadata_cols = ['site_id','sq_meter']
weather_cols = ['air_temperature', 'cloud_coverage', 'dew_temperature', 'precipitation_depth_1_hr',
    'precipitation_depth_6_hr', 'sea_level_pressure', 'wind_direction',
    'wind_speed']

electricity = MeterDataSet(site_id, meter, metadata_cols, weather_cols)

AttributeError: 'DataFrame' object has no attribute 'site_id'

In [10]:
electricity.meter.join(electricity.metadata)

                                   building_id  electricity site_id  sq_meter
2016-01-01 00:00:00   Panther_parking_Lorriane          NaN     NaN       NaN
2016-01-01 00:00:00       Panther_lodging_Cora          NaN     NaN       NaN
2016-01-01 00:00:00      Panther_office_Hannah          NaN     NaN       NaN
2016-01-01 00:00:00     Panther_lodging_Hattie          NaN     NaN       NaN
2016-01-01 00:00:00  Panther_education_Teofila          NaN     NaN       NaN
...                                        ...          ...     ...       ...
2017-12-31 23:00:00      Mouse_lodging_Vicente          NaN     NaN       NaN
2017-12-31 23:00:00        Mouse_health_Justin          NaN     NaN       NaN
2017-12-31 23:00:00        Mouse_health_Ileana          NaN     NaN       NaN
2017-12-31 23:00:00        Mouse_health_Estela          NaN     NaN       NaN
2017-12-31 23:00:00      Mouse_science_Micheal          NaN     NaN       NaN

[27684432 rows x 4 columns]

In [7]:
electricity.meter.head()

                                  building_id  electricity
timestamp
2016-01-01 00:00:00  Panther_parking_Lorriane          NaN
2016-01-01 01:00:00  Panther_parking_Lorriane          NaN
2016-01-01 02:00:00  Panther_parking_Lorriane          NaN
2016-01-01 03:00:00  Panther_parking_Lorriane          NaN
2016-01-01 04:00:00  Panther_parking_Lorriane          NaN

In [8]:
electricity.metadata.head()

                           site_id  sq_meter
building_id
Panther_lodging_Dean       Panther     508.8
Panther_lodging_Shelia     Panther     929.0
Panther_lodging_Ricky      Panther     483.1
Panther_education_Rosalie  Panther     690.5
Panther_education_Misty    Panther     252.7

In [9]:
electricity.weather.head()

,,air_temperature,cloud_coverage,dew_temperature,precipitation_depth_1_hr,precipitation_depth_6_hr,sea_level_pressure,wind_direction,wind_speed
timestamp,site_id,,,,,,,,
2016-01-01 00:00:00,Panther,19.4,NaN,19.4,0.0,NaN,NaN,0.0,0.0
2016-01-01 01:00:00,Panther,21.1,6.0,21.1,-1.0,NaN,1019.4,0.0,0.0
2016-01-01 02:00:00,Panther,21.1,NaN,21.1,0.0,NaN,1018.8,210.0,1.5
2016-01-01 03:00:00,Panther,20.6,NaN,20.0,0.0,NaN,1018.1,0.0,0.0
2016-01-01 04:00:00,Panther,21.1,NaN,20.6,0.0,NaN,1019.0,290.0,1.5